@media (min-width: 320px) and (max-width: 767px) {
  .loader {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .loader_text {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .loader_spinner {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .container_main_city {
    display: flex;
    justify-content: center;
  }

  .main_city {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
  }

  .container_weather {
    /* display: flex; */
    /* flex-direction: column; */
  }

  .temperature {
    font-size: 50px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .iconHumidity {
    width: 22px;
    height: 24px;
  }
}
